{%- if block.settings.title != blank and block.settings.show_over_media == false -%}
              <product-message class="product-message product-message--info product-message--out has-motion relative"
                               style="--bg-color: {{ block.settings.bg_color }};--text-color: {{ block.settings.text_color }};"
                      {{ block.shopify_attributes }} {% if block.settings.close == "persistent" %}data-persistent-close="true"{% endif %} data-block-id="{{ block.id }}">
                <div class="product-message__inner">
                  {%- if block.settings.icon != 'none' -%}
                    {% render 'icon', icon: block.settings.icon, width: 32, height: 32 %}
                  {%- endif -%}

                  <div class="rte rte--inherit-heading-color">{{ block.settings.title }}</div>

                  {%- if block.settings.close != "none" -%}
                    <button type="button" class="product-message__close tap-target text-current js-close-message">
                      <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
                      {% render 'icon-close' %}
                    </button>
                  {%- endif -%}
                </div>
              </product-message>
            {%- endif -%}

{% schema %}
  {
    "name": "Flash message",
    "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_mark_in_circle",
              "label": "Check mark in circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "email",
              "label": "Email"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Message",
          "default": "<p>Product message</p>",
          "info": "Use metafields to have different messages per product. [Read more](https://cleancanvas.co.uk/support/enterprise/settings/custom-product-message)"
        },
        {
          "type": "select",
          "id": "close",
          "label": "Close button",
          "options": [
            {
              "value": "none",
              "label": "Not visible"
            },
            {
              "value": "once",
              "label": "Close this message"
            },
            {
              "value": "persistent",
              "label": "Close this message forever"
            }
          ],
          "default": "once"
        },
        {
          "type": "checkbox",
          "id": "show_over_media",
          "label": "Show over media",
          "default": false
        },
        {
          "type": "range",
          "id": "visibility_duration",
          "min": 3,
          "max": 15,
          "step": 1,
          "unit": "s",
          "label": "Seconds to show message",
          "info": "Only applies when the message shows over media.",
          "default": 7
        },
        {
          "type": "header",
          "content": "Style"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background",
          "default": "#e4edfa"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#1a66d2"
        }
      ],
    "presets": [
      {
        "name": "Flash message"
      }
    ]
  }
{% endschema %}