{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product-info__block product-info__block--sm product-price" {{ block.shopify_attributes }}>
  <div class="product-info__price">
    {% render 'price', product: product, use_variant: true %}
  </div>

  {%- if block.settings.show_tax_and_shipping -%}
    {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
      <div class="product-policies text-sm rte">
        {%- if cart.taxes_included -%}
          {{ 'products.product.include_taxes' | t }}
        {%- endif -%}
        {%- if shop.shipping_policy.body != blank -%}
          {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endif -%}

  {%- assign instalments_form_id = 'instalments-form-' | append: section.id -%}
  {%- form 'product', product, class: 'js-instalments-form  text-sm mt-2', id: instalments_form_id -%}
    <input type="hidden" name="id" value="{{ current_variant.id }}">
    {{ form | payment_terms }}
  {%- endform -%}
</div>

{% schema %}
  {
    "name": "Price",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_tax_and_shipping",
        "label": "Show tax and shipping information",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Price"
      }
    ]
  }
{% endschema %}