{%- comment -%}theme-check-disable LiquidTag, NestedSnippet, TemplateLength{%- endcomment -%}
{%- comment -%}Build: bg-info-bg text-info-text{%- endcomment -%}
{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'product-page.css' | asset_url | stylesheet_tag }}

{%- assign messages = section.blocks | where: "type", "message" -%}
{%- if messages -%}
  <script src="{{ 'product-message.js' | asset_url }}" defer="defer"></script>
  {{ 'product-message.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if product.metafields.spr.reviews -%}
  {{ 'reviews.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if product.media.size > 0 -%}
  <link rel="stylesheet" href="{{ 'media-gallery.css' | asset_url }}">
{%- endif -%}

{%- if product.metafields.reviews.rating.value != blank -%}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      if (document.getElementById('shopify-product-reviews')) {
        const link = document.createElement('link');
        link.rel = "stylesheet";
        link.href = "{{ 'reviews.css' | asset_url }}";
        document.body.appendChild(link);
      }
    }, { once: true });
  </script>
{%- endif -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  # constants
  assign breakpoint_md = 769
  assign breakpoint_lg = 1024

  assign product_form_id = 'product-form-' | append: section.id
  assign current_variant = product.selected_or_first_available_variant
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
  assign media_ratio = section.settings.media_ratio
  assign thumb_ratio = section.settings.thumb_ratio

  if media_ratio == 'natural'
    assign media_ratio = 99
    for media in product.media
      if media.preview_image.aspect_ratio < media_ratio
        assign media_ratio = media.preview_image.aspect_ratio
      endif
    endfor
  endif

  if thumb_ratio == 'natural'
    assign thumb_ratio = 99
    for media in product.media
      if media.preview_image.aspect_ratio < thumb_ratio
        assign thumb_ratio = media.preview_image.aspect_ratio
      endif
    endfor
  endif
-%}

{%- style -%}
  {%- if section.settings.media_layout == 'stacked' -%}
    @media (max-width:  {{ breakpoint_md | minus: 0.02 }}px) {
      .media-gallery__main .media-xr-button { display: none; }
      .active .media-xr-button:not([data-shopify-xr-hidden]) { display: block; }
    }
  {%- else -%}
    .media-gallery__main .media-xr-button { display: none; }
    .active .media-xr-button:not([data-shopify-xr-hidden]) { display: block; }
  {%- endif -%}

  {%- if section.settings.media_size == 'large' -%}
    @media (min-width: {{ breakpoint_lg }}px) {
      :root { --product-info-width: 400px !important; }
    }
  {%- endif -%}
{%- endstyle -%}

{%- if first_3d_model -%}
  <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'model-viewer.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

<div class="container">
  <div class="product js-product" data-section="{{ section.id }}">
    <div id="product-media" class="product-media product-media--{{ section.settings.media_layout }}">
      {%- if product.media.size > 0 -%}
        {% render 'media-gallery',
          product: product,
          current_variant: current_variant,
          media_ratio: media_ratio,
          media_crop: section.settings.media_crop,
          thumb_ratio: thumb_ratio,
          thumb_crop: section.settings.thumb_crop,
          first_3d_model: first_3d_model,
          zoom: section.settings.hover_zoom
        %}
      {%- else -%}
        <div class="media relative">
          {{ 'image' | placeholder_svg_tag: 'media__placeholder' }}
        </div>
      {%- endif -%}
    </div>

    <div class="product-info{% if section.settings.stick_on_scroll %} product-info--sticky{% endif %}"
         {% if section.settings.stick_on_scroll %}data-sticky-height-elems="#product-media,.cc-main-product + .cc-product-details .container"{% endif %}>
      {%- if section.settings.stick_on_scroll -%}
      <script src="{{ 'sticky-scroll-direction.js' | asset_url }}" defer="defer"></script>
      <sticky-scroll-direction data-min-sticky-size="md">
        <div class="product-info__sticky">
      {%- endif -%}

      {%- assign has_variant_picker = false -%}
      {%- if section.settings.sticky_atc_panel -%}
        <a class="product-options--anchor" id="product-info" rel="nofollow"></a>
      {%- endif -%}

          {% content_for 'blocks' %}

      {%- if section.settings.stick_on_scroll -%}
        </div>
      </sticky-scroll-direction>
      {%- endif -%}
    </div>
  </div>
</div>

{%- render 'product-popups' -%}

{%- if section.settings.sticky_atc_panel and product.available -%}
  <link rel="stylesheet" href="{{ 'sticky-atc-panel.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'sticky-atc-panel.js' | asset_url }}" defer="defer"></script>

  <sticky-atc-panel class="sticky-atc-panel sticky-atc-panel--out fixed bottom-0 {{ section.settings.sticky_atc_position }} invisible{% if section.settings.sticky_atc_mobile == false %} hidden md:block{% endif %}">
    <div class="card card--row card--related card--sticky-atc relative flex items-center">
      {%- if product.featured_media -%}
        <div class="card__media{% if settings.blend_product_images %} image-blend{% endif %}">
          {%- liquid
            assign image_width = 44
            if product.featured_media.preview_image.aspect_ratio >= 1
              assign image_width = 56
            endif
          -%}
          {% render 'image', image: product.featured_media.preview_image, src_width: image_width, srcset_2x: true %}
        </div>
      {%- endif -%}

      <div class="card__info">
        <p class="sticky-atc-panel__heading h6 regular-text text-current">
          {{ product.title | escape | truncate: 70 }}
        </p>

        {%- render 'price', product: product -%}
      </div>

      <div class="card__buttons">
        {%- liquid
          if has_variant_picker
            assign anchor = "variants"
          else
            assign anchor = "product-info"
          endif
        -%}
        {%- if product.has_only_default_variant -%}
          <a href="#{{ anchor }}" rel="nofollow" class="btn btn--secondary btn--sm">
            {{- 'products.product.view_details' | t -}}
          </a>
        {%- else -%}
          <a class="btn btn--secondary btn--sm" href="#{{ anchor }}" rel="nofollow">
            {{- 'products.product.choose_options' | t -}}
          </a>
        {%- endif -%}
      </div>
    </div>
  </sticky-atc-panel>
{%- endif -%}

{%- if first_3d_model -%}
  <script type="application/json" id="product-json-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endif -%}

{% render 'structured-data-product', product: product, current_variant: current_variant %}

{% schema %}
{
  "name": "Product",
  "class": "cc-main-product product-main",
  "settings": [
    {
      "type": "checkbox",
      "id": "stick_on_scroll",
      "label": "Stick product info on scroll",
      "info": "Applies to large screens only.",
      "default": true
    },
    {
      "type": "header",
      "content": "Sticky 'Add to cart' prompt"
    },
    {
      "type": "paragraph",
      "content": "Shows a small prompt to scroll the page back to the product form."
    },
    {
      "type": "checkbox",
      "id": "sticky_atc_panel",
      "label": "Enable sticky 'Add to cart' prompt",
      "default": false
    },
    {
      "type": "select",
      "id": "sticky_atc_position",
      "label": "Position on large screens",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "sticky-atc-panel--center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "end"
    },
    {
      "type": "checkbox",
      "id": "sticky_atc_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "media_layout",
      "label": "Layout on large screens",
      "info": "Stacked works best when all the product images are the same size. Mobile will always display a slider.",
      "options": [
        {
          "value": "stacked",
          "label": "Stacked"
        },
        {
          "value": "slider",
          "label": "Slider"
        }
      ],
      "default": "slider"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "Media width",
      "info": "Media will be full width on mobile.",
      "options": [
        {
          "value": "default",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "media_ratio",
      "label": "Media aspect ratio",
      "info": "Natural should only be used when images are the same dimensions.",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "1.33",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1.77",
          "label": "Landscape (16:9)"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "0.75",
          "label": "Portrait"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "media_crop",
      "label": "Media crop",
      "info": "Only applies if the \"Media Shape\" is not \"Natural\".",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "hover_zoom",
      "label": "Zoom on hover",
      "info": "Only applies on large screens and when the original image is large enough.",
      "default": "large",
      "options": [
        {
          "value": "off",
          "label": "Off"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "original",
          "label": "Original image"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Stacked Layout"
    },
    {
      "type": "radio",
      "id": "stacked_scroll",
      "label": "Scroll to variant media",
      "options": [
        {
          "value": "never",
          "label": "Never"
        },
        {
          "value": "change",
          "label": "When the variant is changed"
        },
        {
          "value": "always",
          "label": "When the variant is changed or the page loads"
        }
      ],
      "default": "always"
    },
    {
      "type": "checkbox",
      "id": "underline_active",
      "label": "Underline active media",
      "default": true
    },
    {
      "type": "header",
      "content": "Slider Layout"
    },
    {
      "type": "select",
      "id": "media_thumbs",
      "label": "Show thumbnails",
      "options": [
        {
          "value": "never",
          "label": "Never"
        },
        {
          "value": "desktop",
          "label": "Large screens only"
        },
        {
          "value": "always",
          "label": "Always"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "select",
      "id": "thumb_ratio",
      "label": "Thumbnail shape",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "1.33",
          "label": "Landscape"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "0.75",
          "label": "Portrait"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "thumb_crop",
      "info": "Only applies if the \"Thumbnail shape\" is not \"Natural\"",
      "label": "Thumb crop",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "media_arrows",
      "label": "Show arrows",
      "options": [
        {
          "value": "never",
          "label": "Never"
        },
        {
          "value": "mobile",
          "label": "Mobile only"
        },
        {
          "value": "desktop",
          "label": "Large screens only"
        },
        {
          "value": "always",
          "label": "Always"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "checkbox",
      "id": "show_slide_count",
      "label": "Show slide count",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Media border",
      "info": "Set to transparent to remove",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Media background",
      "info": "When using 'Blend product images' (Theme Settings > Colors > Color blending), the color specified there will override this.",
      "default": "#f4f4f4"
    },
    {
      "type": "header",
      "content": "Multiple variant images"
    },
    {
      "type": "checkbox",
      "id": "enable_media_grouping",
      "label": "Show media only associated with the selected variant",
      "info": "Other variants' media will be hidden",
      "default": false
    },
    {
      "type": "text",
      "id": "media_grouping_option",
      "label": "Variant option label",
      "info": "The label used to switch between images",
      "default": "Color,Colour,Couleur,Farbe"
    },
    {
      "type": "paragraph",
      "content": "If your store displays multiple languages, include all translations separated by a comma, e.g. Color,Couleur,Farbe"
    },
    {
      "type": "paragraph",
      "content": "Arrange product media by this option (all 'red' media together, then all 'blue' media together, for example). The first media in each group should be assigned to a variant. [Read more](https://cleancanvas.co.uk/support/enterprise/settings/grouped-variant-images)"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "buy-buttons"
    },
    {
      "type": "collapsible-content"
    },
    {
      "type": "custom-liquid"
    },
    {
      "type": "divider"
    },
    {
      "type": "image",
    },
    {
      "type": "inventory-status",
    },
    {
      "type": "product-signup"
    },
    {
      "type": "newsletter-signup",
    },
    {
      "type": "pop-up"
    },
    {
      "type": "weight"
    },
    {
      "type": "barcode",
    },
    {
      "type": "price"
    },
    {
      "type": "rating"
    },
    {
      "type": "complementary"
    },
    {
      "type": "richtext"
    },
    {
      "type": "share"
    },
    {
      "type": "title"
    },
    {
      "type": "variant-picker"
    },
    {
      "type": "vendor-sku"
    },
    {
      "type": "type"
    },
    {
      "type": "message"
    },
    {
      "type": "description"
    },
    {
      "type": "product-labels"
    }
  ]
}
{% endschema %}
